<div class="card">
    <div class="card-header">
        <h4 class="card-title">Create new note</h4>
    </div>
    <div class="card-body">
        <form (submit)="save()">
            <div class="row form-group">
                <div class="col-md-9">
                    <input type="text"
                           class="form-control"
                           name="title"
                           placeholder="Note title..."
                           [(ngModel)]="note.title"/>
                </div>
                <div class="col-md-3">
                    <button type="submit"
                            class="btn btn-primary btn-block">
                        <span class="fa fa-save"></span>
                        Save
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
