<div *ngIf="checklist">
    <div *ngFor="let entry of checklist.entries; let entryIndex = index">
        <segments-edit-checklist-entry [entry]="entry"
                                       [entryList]="checklist.entries"
                                       [index]="entryIndex">
        </segments-edit-checklist-entry>
    </div>
    <div class="row form-group">
        <div class="col-md-12">
            <button type="button"
                    class="btn btn-block btn-success"
                    (click)="addEntry()">
                <span class="fa fa-plus-square-o"></span>
                Add next entry
            </button>
        </div>
    </div>
</div>
